<%- include('./partials/header') %>

<form action="/blogs" method="post">
    <section>
        <label for="title">Title: </label>
        <input type="text" name="title" id="title">
    </section>
    <section>
        <label for="auth">Author: </label>
        <input type="text" name="author" id="author">
    </section>
    <section>
        <label for="comment">Comment: </label>
        <textarea name="comment" id="blogs" cols="30" rows="4"></textarea>
        <button type="submit">ADD Blog</button>
    </section>
</form>


<%-include('./partials/footer')%>